*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: '源真ゴシックPL';
	font-size: 12px;
}

@font-face{
	font-family: '源真ゴシックPL';
	src: url('../fonts/genshingothic-20150607/GenShinGothic-P-Light.ttf') format('OpenType');
}

@font-face{
	font-family: '源真ゴシックPR';
	src: url('../fonts/genshingothic-20150607/GenShinGothic-P-Regular.ttf') format('OpenType');
}

h1{
	background: #64aaf0;
	font-family: '源真ゴシックPR';
	font-size: 24px;
}

nav #menu{
	width: 100%;
	height: 2em;
}
nav #menu > li{
	background: #eb8a56;
	width: 20%;
	height: 100%;
	display: block;
	float: left;
}

nav #menu > li > a{
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 2em;
	text-decoration: none;
}

nav #menu > li > a:hover{
	background: #8080ff;

}